.header {
    display: flex;
    background: linear-gradient(0deg, rgba(0,0,20,0) 0%, rgba(0,0,20,0) 0%, rgba(204, 0, 255, 0.5) 100%);
    font-family: 'Klaxons', 'Roboto', sans-serif;
    font-size: 5rem;
}

.header__logo {
    margin-left: auto;
}

.header-navigation, .footer-navigation {
    margin: auto;
    margin-left: 10px;
    list-style-type: none; /* отключение маркеров */
}

.header-navigation-list {
    margin: 30px ;
}

.header-navigation-list__item {
    margin: auto;
    padding: 0 15px;
    display: inline;
    text-align: center;
}

.header-navigation-list__item__link{
    color: rgb(223, 223, 255);
    text-decoration: none;
}


.content {
    display: block;
    margin: 50px auto;
    padding-bottom: 100px;
    width: 60vw;
    height: 550px;
    min-width: 600px;
    background-color: rgba(195, 248, 248, 0.089);
    box-shadow: 5px 5px 50px rgb(48, 14, 238);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.content__image {
    display: block;
    margin: auto;
}


body {
    position: relative;
    min-height: 100vh;
}

/* футер некорректно отображается. при заполнении страницы контентом, он остаётся в том же положении*/

.footer {
    display: flex;
    margin: auto;
    width: 100%;
    /* задаём абсолютную позицию для привязки в низу страницы */
    position: absolute; 
    /*Привязываем к низу страницы */
    bottom: 0; 
    left: 0;
    background: linear-gradient(0deg, rgba(21, 19, 131, 0.7) 0%, rgba(39, 51, 222, 0.1) 47%, rgba(53, 3, 231, 0) 100%);
}

.footer-navigation {
    margin: auto;
}

.footer-navigation-list__item {
    display: inline-block;
    padding: 10px 50px;
}

h1, h2, h3, h4, h5, h6, p {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}


/* body {
    display: flex;
    flex-direction: column;
} */